body{
background-image: url(https://scontent.fdvo3-1.fna.fbcdn.net/v/t1.15752-9/310974366_1119596265618340_8122847938682139680_n.jpg?stp=dst-jpg_s403x403&_nc_cat=103&ccb=1-7&_nc_sid=aee45a&_nc_eui2=AeEELZmEyylJj6LC-ozjlqvhdq5bY702Sat2rltjvTZJqzXaB0WPGxmVSkA-Cld_VgYQvu8ksCthqSsxK3hG9nan&_nc_ohc=jp_rmx8o7O8AX--gYgO&_nc_ht=scontent.fdvo3-1.fna&oh=03_AVLHzSCXGTFGmPdycRUoCTStw579lOPCeYe6x9dAh2lu3Q&oe=636B9295);
background-size: cover; 
height: 1000; 
background-repeat: no-repeat;
background-attachment: fixed;
background-attachment: scroll;
background-position: center;
}
h1{
width: 250px;
background-color: #73e600;
text-align: center;
font-family: Arial Black;
border-style: dotted;
border-color: blue;
border-width: 2px; 
padding: 10px 15px 10px 15px;
margin: auto;
margin-bottom: 20px; 
}

p{
text-align: justify;
background-color: hsl(50, 50%, 75%);
font-style: italized;
padding: 20px;
border-style: solid groove;
border-width: 3px;
margin: 500px;
margin: auto; 
}

span{
font-weight: bold;
color: rgb(200,100,200);
margin-right: 5px;
margin-left: 2px; 
}
