*{
	margin: auto;
	padding: 0px;
	margin: 0px
	list-style: none;
}

nav{
	width: 100%;
	height: 75px;
	line-height: 75px;
	padding: 0px 0px;
	position: sticky;
	background: #ADD8E6;
}

nav .header{
	float: left;
}

nav ul{
	float: right;
}

nav li{
	display: inline;
	list-style: none;
}

nav ul li{
	list-style: none;
	display: inline-block;
	}

nav li a{
	font-size: 25px;
	padding: 0px 50px;
	text-decoration: none;
}

nav li a:hover{
	color: #333;
}

p{
	font-family: cursive;
	text-align: center;
	box-sizing: border-box;
	color: #87CEFA;
	background: #008080;
	width: 660px;
  	padding: 7px;
  	border: 5px solid gray;
  	margin: 0;
	float: right;
	margin:auto;
}

body{
	margin: 0px;
	background-image: url("https://previews.123rf.com/images/kentoh/kentoh1005/kentoh100500107/6856693-poverty-grunge-background-in-black-harsh-tones.jpg");
	background-size: cover;
}

h1{	
	padding-left: 15px;
	text-align: left;
	box-sizing: border-box;
	background: #333;
	color: white;
}

.img2{
	clear: left;
	float: left;
	padding: 0px;
	position: sticky;
}

.img3{
	clear: left;
	float: left;
	top-padding: 5px;
	position: sticky;
}

.img4{
	clear: left;
	float: left;
	top-padding: 5px;
	position: sticky;
}
